# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
Debug/
Release/

# NuGet
packages/

# Logs
*.log

# Rider
.idea/

# OS files
Thumbs.db
Desktop.ini